.sale {
  margin-top: 20px;
  padding: 40px 60px 20px 60px;
  background: #fff;
  text-align: center;
  .unsale-letter {
    display: inline-block;
    font-size: 20px;
    margin: 0 auto;
  }
  .ivu-btn-success {
    margin: 0 0 5px 20px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .order {
    .ivu-table-row {
      height: 60px;
    }
  }
}

.ivu-modal-header {
  text-align: center;
  .ivu-modal-header-inner {
    font-size: 16px;
  }
}
.orderInfo {
  width: 200px;
  margin: 0 auto;
  font-size: 16px;
}
