.box {
  height: 100%;
  .bg {
    background: url("~@/assets/img/login/bg.jpg") no-repeat center;
    height: 100%;
    background-size: cover;
    opacity: .8;
  }
  .register-box {
    width: 420px;
    height: 610px;
    box-sizing: border-box;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
    position: absolute;
    bottom: 0;
    top: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 0 80px;
    background-color: #fff;
    .error-msg {
      position: absolute;
      left: 80px;
      top: 38px;
      width: 222px;
      background: #ffebeb;
      color: #e4393c;
      border: 1px solid #faccc6;
      padding: 0 10px;
      line-height: 25px;
      height: 25px;
      margin: 20px 0;
    }
    .register-title {
      font-size: 30px;
      margin: 20px 0;
      text-align: center;
      font-family: '隶书';
    }
    .register-button {
      display: block;
      width: 240px;
      height: 40px;
      font-size: 18px;
      border-radius: 5px;
      cursor: pointer;
      margin: 10px auto;
      background-color: #1c84c6;
      color: #fff;
      outline: none;
      border: 1px solid #1c84c6;
    }
    .el-form-item__content {
      position: relative;
      .register-form-account {
        width: 30px;
        height: 30px;
        position: absolute;
        left: 5px;
        top: 5px;
        z-index: 999;
      }
      .el-input__inner {
        padding: 0 40px;
        font-size: 18px;
      }
      .selectCity {
        .el-input__inner {
          padding: 0 10px;
        }
      }
    }
    .login {
      display: block;
      text-decoration: none;
      margin: -20px 0 0 10px;
      color: #0000ee;
      font-size: 14px;
    }
    .el-dialog__body {
      padding: 0;
    }
  }
}



