.bg {
  background: #e3eeec;
  .type-page {
    width: 1200px;
    margin: 0 auto;
    background: #fff;
    .edit-title {
      border-bottom: 1px solid #e7eaec;
      margin-top: 20px;
      padding-top: 10px;
      h1 {
        margin: 10px 0 10px 20px;
      }
    }
    .el-form {
      width: 500px;
      margin: 20px auto;
      .el-select {
        margin-right: 20px;
      }
      .el-button--primary {
        margin-left: 200px;
        margin-bottom: 20px;
      }
    }
  }
}