.bg {
  background: #e3eeec;
  height: 100vh;
  .type-page {
    width: 1200px;
    margin: 0 auto;
    .top {
      height: 220px;
      margin-top: 50px;
      padding-left: 220px;
      #user_photo {
        background: #f6f9f9 none repeat scroll 0 0;
        height: 220px;
        padding: 20px;
        position: relative;
        text-align: center;
        width: 220px;
        margin-left: -220px;
        float: left;
        img {
          border-radius: 100%;
          cursor: pointer;
          left: 20px;
          position: absolute;
          top: 20px;
          height: 180px;
          width: 180px;
          border: 0 none;
        }
        #change_ph {
          left: 20px;
          position: absolute;
          top: 20px;
        }
      }
      #user_msg {
        background: #fff none repeat scroll 0 0;
        height: 220px;
        position: relative;
        .name {
          font: 26px "Microsoft YaHei";
          padding: 20px 0 0 20px;
        }
        .has_sell {
          color: #878787;
          font-size: 16px;
          line-height: 120%;
          margin-left: 20px;
          margin-top: 10px;
        }
        .seller_attr {
          border-left: 4px solid rgb(58,58,58);
          margin-left: 20px;
          margin-top: 30px;
          padding-left: 20px;
        }
        .ivu-btn {
          margin-left: 20px;
          margin-top: 30px;
        }
      }
    }
    .ivu-menu-item {
      margin: 0 20px;
      .ivu-badge {
        margin: 0 0 12px 10px;
      }
    }
  }
  .footer {
    bottom: 0;
  }
}
.clearfix {
  content: "";
  clear: both;
  display: block;
}
